.main-wrapper{
    display: flex;
    width: 500vw;
    transition: 1s;
    position: relative;
}

.wrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}